<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
	<!-- wp:post-date {"className":"pb-ncard__date","format":"j. F Y"} /-->
	<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"0.3em","bottom":"var:preset|spacing|40"}}}} /-->
	<!-- wp:post-featured-image {"style":{"border":{"radius":"26px"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:separator {"className":"is-style-hand-drawn"} -->
	<hr class="wp-block-separator has-alpha-channel-opacity is-style-hand-drawn"/>
	<!-- /wp:separator -->

	<!-- wp:post-navigation-link {"type":"previous","label":"Vorheriger Beitrag"} /-->
	<!-- wp:post-navigation-link {"label":"Nächster Beitrag"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
